<%- include ("../partials/header"); %>

    <section class="header_text sub">
        <img class="pageBanner" src="../assets/images/pageBanner.png" alt="New products" width="100%">
        <h4><span>MY PROFILE</span></h4>
    </section>
    <section class="main-content container-fluid">
        <div>
            <h4 class="title"><span class="text"><strong>Profile</strong> Page</span></h4>

            <fieldset>
                <fieldset>
                    <div class="control-group row">                    
                        <div class="col-md-6 col-12">
                            <label>Name:</label>
                            <label class="control-label" name="name">Dev Garg</label><br />
                            <label>Name:</label>
                            <label class="control-label">DevGarg</label><br />
                            <label>Name:</label>
                            <label class="control-label">devgarg771@gmail.com</label><br />
                            <label>Name:</label>
                            <label class="control-label">9717287202</label><br />
                        </div>
                    </div>
                </fieldset>
            </fieldset>
        </div>
    </section>

<%- include ("../partials/footer"); %>