<%- include ("../partials/header"); %>

    <section class="header_text sub">
        <img class="pageBanner" src="../assets/images/pageBanner.png" alt="New products" width="100%">
        <h4><span>MY PROFILE</span></h4>
    </section>
    <section class="main-content container-fluid">
        <div>
            <h4 class="title"><span class="text"><strong>Profile</strong> Page</span></h4>
            
                    <div class="address">
                        <div class="card">
                
                            <div id="html_2nd_div"><p>DevGarg</p> </div>
                                
                            <div id="html_3rd_div">
                            <p>
                                <span style="font-weight: bold;">
                                    Email :
                                </span> devgarg717@gmail.com
                            </p>
                            <p>
                                <span style="font-weight: bold;">
                                    Phone No : 
                                </span> 9718456789
                            </p>
                            <p>
                                <span style="font-weight: bold;">
                                    Address :
                                </span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Est laborum qui provident hic. Obcaecati sit quos quasi, culpa eveniet veritatis! Ipsum sit, aspernatur vel non earum modi sequi labore eum.
                                
                            </p>
                            </div>
                                
                            <div id="html_4th_div">
                                <h5>
                                    <a href="#">Edit Profile</a> | 
                                    <a href="#">Remove</a>
                                </h5>
                            </div>
                        </div> 

                        <div style="height: 50px;"></div>

                        <div class="card add_address">
                                
                            <a href="">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </a>
                            <br>
                            <a href="">
                                <h1>Add Address</h1>
                            </a>
                        </div> 
                    </div>
        </div>

    </section>

<%- include ("../partials/footer"); %>