<%- include ("../partials/header"); %>

<section>
    <!--for demo wrap-->
    <h1>Email Error Details</h1>
    <div class="tbl-header">
      <table cellpadding="0" cellspacing="0" border="0">
        <thead>
          <tr>
            <th>Username</th>
            <th>Emailid</th>
            <th>EmailErr</th>
            <th>EmailErrMsg</th>
            <th>Date_Of_Joining</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="tbl-content">
      <table cellpadding="0" cellspacing="0" border="0">
        <tbody>
          <tr>
            <td>AAC</td>
            <td>AUSTRALIAN COMPANY </td>
            <td>$1.38</td>
            <td>+2.01</td>
            <td>-0.36%</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

<%- include ("../partials/footer"); %>