<%- include ("../partials/header") %>
    <section class="header_text sub">
        <img class="pageBanner" src="../assets/images/pageBanner.png" alt="New products" width="100%">
    </section>
    <div class="banner">
        <div class="container">
            <!-- Heading Row -->
            <div class="row align-items-center " style="margin-top: 3%;">
                <div class="col-lg-4 mx-auto"><img class="mx-auto d-block img-fluid" src="/assets/images/Taruna/aboutuspage_me.jpg" />
                </div>
                <div class="col-lg-8 mx-auto" style="padding-top: 10px;">
                    <center>
                        <h1><strong>About Me</strong></h1>

                    </center>
                    <center>
                        <p class="mb-2" style="text-align: justify;">Hi, my name is Taruna Kundra. My journey of working with so many brands leading up to my own brand is of 17 years. The purpose behind this brand is to present the real product before the customers. Before presenting in front of
                            you, I myself check, study and analyse each and every product’s authenticity and value. </p>
                        <p class="mb-2" style="text-align: justify;">I am using all my experience in providing you the best of saree collections and many other products. I work with my vendors and we share each other’s thoughts and utilize our experience to create something magical for you.</p>
                        <p class="mb-2" style="text-align: justify;">By relying on us, I myself assure you that you are getting the best quality product and the real deal of each and every item.</p>
                    </center>
                </div>

                <!-- /.col-lg-12 -->
            </div>
            <div class="row align-items-center " style="margin-top: 5%;">
                <div class="col mx-auto" style="padding-top: 10px;">
                    <center>
                        <!-- <p class="mb-2" style="text-align: justify;">Hi, my name is Taruna Kundra. My journey of working with so many brands leading up to my own brand is of 17 years. The purpose behind this brand is to present the real product before the customers. Before presenting in front of you,
                            I myself check, study and analyse each and every product’s authenticity and value. </p>
                        <p class="mb-2" style="text-align: justify;">I am using all my experience in providing you the best of saree collections and many other products. I work with my vendors and we share each other’s thoughts and utilize our experience to create something magical for you.</p>
                        <p class="mb-2" style="text-align: justify;">By relying on us, I myself assure you that you are getting the best quality product and the real deal of each and every item.</p> -->
                    </center>
                </div>
            </div>
        </div>
    </div>
    <%- include ("../partials/footer") %>