<%- include ("../partials/header"); %>
    <section class="header_text sub">
        <img class="pageBanner" src="../assets/images/pageBanner.png" alt="New products" width="100%">
        <h4><span>Feed Back</span></h4>
    </section>
    <section id="photos">



        <img class="img-fluid" src="/assets/images/achievments/capture2.jpg" alt="customer satisfaction">






        <img class="img-fluid" src="/assets/images/achievments/capture8.jpg" alt="happy customers">



        <img class="img-fluid" src="/assets/images/achievments/capture7.jpg" alt="happy customers">

        <img class="img-fluid" src="/assets/images/achievments/capture.jpg" alt="happy customers">



        <img class="img-fluid" src="/assets/images/achievments/capture4.jpg" alt="happy customers">


        <img class="img-fluid" src="/assets/images/achievments/card2.jpeg" alt="happy customer">


        <img class="img-fluid" src="/assets/images/achievments/capture1.jpg" alt="satisfied  customer">


        <img class="img-fluid" src="/assets/images/achievments/card3.jpeg" alt="delighted customer">


        <img class="img-fluid" src="/assets/images/achievments/capture6.jpg" alt="happy customers">

        <img class="img-fluid" src="/assets/images/achievments/capture3.jpg" alt="happy customers">

        <img class="img-fluid" src="/assets/images/achievments/capture5.jpg" alt="happy customers">


    </section>

    <%- include ("../partials/footer"); %>